﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #2e073e;
    background: linear-gradient(to left, rgba(255, 165, 125, 1), rgba(97, 23, 124, 1));
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background: white;
}


.main {
    color: white;
    min-height: 100%;
}

.login {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.register {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-bottom:80px;
}
.btn-primary{
    width:40%;
   margin:auto
}

.table{
    color:white;
}

thead th {
    font-size: larger;
    font-weight: 600;
}
tbody th{
    font-weight: 300;
}


.j{
    border: white 2px solid;
    border-radius: 3px;
}
.j1{
    background-color: blue;
}
.j2 {
    background-color: orangered;
}
.j3 {
    background-color: green;
}

textarea{
    margin-bottom: 20px;

}

.Title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgba(255, 165, 125, 1), rgba(97, 23, 124, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}